*{
    margin: 0;
    padding: 0;
    list-style:none ;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    max-height: 100vh;
    color: white;
}
.pd-l{
    padding-left: 20px;
}
.m-r{
     margin-right: 20px;
}
header{
 
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}
nav ul{
    display: flex;
    
}
.menubar ul li a{
    margin: 0px 15px;
    color: white;
    font-size: 20px;
    position: relative;
}
.menubar ul li a:hover{
    color: #ff004f;
}

.menubar ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #ff004f;
    transition: 0.3s ease-in-out;
}
.menubar ul li a:hover::after{
    width: 100%;
}


.side-menu{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ff004f;
    height: 100vh;
    width: 250px;
    cursor: pointer;
    color: white;
    z-index: 999;
   
}
.side-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.side-menu ul li a{
    margin: 20px 0px ;
    padding: 10px 0px ;
   text-align: center;
   font-size: large;
   display: block;
   color: white;
   transition: background-color 0.3s  ease-in-out;

}

.side-menu ul li a:hover{
    background-color: white;
    color: black;

}

.side-menu .cancel-btn{
    
    padding: 10px 10px;
    display:inline-block;
}
.side-menu .cancel-btn:hover{
     background-color: white;
     border-radius: 60%;
     color: black;
     cursor: pointer;

}
.menu-btn{
    color: white;
   
    font-size: 20px;
    
}
.pd-l{
    padding-left: 20px;
}
.m-r{
     margin-right: 20px;
}


/* ----------------------------home page---------------------------- */
 .home{
    display: flex;
    height: 100vh;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    background-color: black;
    padding-left: 40px;
 }

 .dp img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
 }
 
 .home-container h3{
    font-size: 20px;
    padding-bottom: 5px;
 }
 .home-container h2{
    font-size: 40px;
 }
  .home-container h2 span{
    font-size: 42px;
    color: #ff004f;
  }



  /* * ------------------------------about---------------------------- */ 
#about{
    padding: 80px 0;
    color: #ababab;
    margin-left: 10%;
}
.link a img{
    padding-top: 10px;
    width: 30px;
    filter: saturate(0.5);

}
.link .git{
    padding-top: 10px;
     width: 30px;
     padding-left: 10px;




}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row .about-col-1{
    flex-basis: 35%;
}
.row .about-col-1 img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.row .about-col-2{
    flex-basis: 60%;
}

.row .about-col-2 .sub-title{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.tap-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 2px;
    background: #ff004f;
    left: 0;
    bottom: -3px;
    position: absolute;
    transition: 0.5s;


}
.tab-links:hover::after{
    width: 100%;
}
.tab-content ul li{
    list-style: none;
    margin: 0px 0px;
    line-height: 25px;
    padding: 10px 0px;

}
.tab-content ul li span{
    color: #ff004f;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* -------------------skills-------------------- */

#services{
    padding: 30px 0px;
     margin-left: 5%;
     margin-right: 5%;

}
.services-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    grid-gap: 30px;
    margin-top: 50px;
  column-gap: 50px;
    justify-items: start;
}
.skill-img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
}
.services-list div{
    background: #262626;
    display: flex;
    flex-direction: column;
  gap: 20px;
    align-items: center;
    padding: 40px 50px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
    /* align-content: center; */
   border-radius: 10px;
    transition: 0.5s;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}


/* <!-- 
    -----------------------------------Project--------------------- --> */

#projects{
    padding: 50px 0px;
    margin-left: 5%;
    margin-right: 5%;
    
}
.sub-title{
    font-size: 40px;
    font-weight: 500;
    color: #fff;

}
.work-list{
     display: flex;
     justify-content:space-around;
    
    grid-gap: 50px;
    justify-content: center;
    margin-top: 50px;

}
.work{
    width: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 300px;
    border-radius: 10px;
    display: block;
    height: 300px;
    transition: transform 0.5s;
}
.layer{
    position: absolute;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 40px; */
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h1{
    font-weight: 600;
    margin-bottom: 13px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    width: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}


/* ----------------------------contact--------------- */
#contact{
    margin-left: 5%;
    margin-right: 5%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


@media(max-width:800px){
    .hideonmobile{
        display: none;
    }
    .row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
}
.work-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
}
@media(min-width:800px){
    .hideonpc{
        display: none;
    }
}